@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@700&display=swap');

* {
margin: 0px;
padding: 0px;
box-sizing: border-box;
font-family: 'Asap', sans-serif;
}

body {
    background-color: #24272e;
}

header {
    background-color: white;
    padding: 20px;
}